.topbar-appBar {
  background-color: #6b705c !important;
  color: #ffe8d6 !important;
  box-shadow: none !important;
  justify-content: center !important;
}

.topbar-toolbar {
  padding: 0 20px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.topbar-title {
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold !important;
}
