.commentBox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .commentBox input {
    flex-grow: 1;
  }
  
  .commentBox button {
    padding: 5px 10px;
    background-color: #6b705c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .commentBox button:hover {
    background-color: #495057;
  }
  